# Backend
/backend/target/
/backend/*.log
/backend/.idea/
/backend/.vscode/
/backend/*.iml
/backend/application.properties
/backend/application.yml

# Frontend
/frontend/dist/
/frontend/node_modules/
/frontend/.angular/cache
/frontend/.vscode/

# General
.DS_Store
